
<div class="upButton" *ngIf="showButton" (click)="onScrollTop()">
  <button mat-fab class="upward-btn" color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>



<!-- section Scroll infinito, recoge dentro la iteración  -->
<section
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()">



<!-- Grid masonry -------------------------------->

<div class="grid">
  <ngx-masonry  [options]="{gutter: 15, horizontalOrder: true , fitWidth: true}"
                [ordered]="true">

      <!-- Cards que cambian dependiendo del listado enviado al hijo -->
      <div *ngIf="onRandomOption; else search">
        <app-card-masonry  *ngFor="let photo of listRandom" [photo]="photo"></app-card-masonry>
      </div>

      <ng-template #search>
        <app-card-masonry  *ngFor="let photo of listSearch" [photo]="photo"></app-card-masonry>
      </ng-template>



  </ngx-masonry>
</div>

<!--end Grid masonry -------------------------------->



</section>

