<header>
  <div class="logo disp-flex">
    <img src="../../../../assets/images/logogris.png" alt="">
        <p>... Powered by Unsplash</p> 
  </div>

  <span class="spacer"></span>

  <div class="search-input">
    <mat-form-field class="example-form-field">
      <mat-label>Enter a search</mat-label>

      <input matInput type="text" [(ngModel)]="value" (keyup.enter)="setQueryInfo()">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="resetInfo()">
        <mat-icon>close</mat-icon>

      </button>
    </mat-form-field>
  </div>



</header>