<header>
  <div class="logo disp-flex">
    <img src="../../../../assets/images/logogris.png" alt="">
        <p>... Powered by Unsplash</p> 
  </div>

  <span class="spacer"></span>

  <div class="search-area">
    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>Enter a search</mat-label>

      <input matInput type="text" [(ngModel)]="value" (keyup.enter)="setQueryInfo()">
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="resetInfo()">
        <mat-icon>close</mat-icon>

      </button>
    </mat-form-field>


    <!-- My search list -->
    
    <button class="searchListBtn" mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      My Search List<mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- Itera por la lista -->
      <button mat-menu-item *ngFor = "let search of historial" (click)="onSearchByQuery(search)">
        <span>{{search | titlecase}}</span>
      </button>
      <!-- ------------------ -->
      <div class="clear" (click)="onClearList()" *ngIf="!noList; else list">
        <mat-icon>delete</mat-icon>
        Clear List
      </div>
      <ng-template #list>
        <p class="empty"> Empty list</p> 
      </ng-template>
      
    </mat-menu>

  </div>


</header>