
$main-dark:#141617;
$gray-transparent:rgba(75, 75, 75, 0.327);

/////////////////////////////////////////////

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body { height: 100%; }

html{
  scroll-behavior: smooth;
}

a:link, a:visited, a:active {
  text-decoration:none;
}

body{
  font-family: 'Nunito', sans-serif;
  background-color: $main-dark;
  margin:0 auto;
  padding:0;
  width:100%;

  &::after {
    content: '';
    background-image: radial-gradient(rgb(255, 255, 255) 2%, #fff0 10.2%);
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    z-index: -1;
    }
  }


    ////////////////////////////////////////////

.shadow{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.spacer {
  flex: 1 1 auto;
}

.disp-flex {
  display: flex;
}

.rounded{
  border-radius: 5px;
}

//clase para el spinner
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.custom-modalbox >  mat-dialog-container {
  padding:100px;
}


//////dialog

.myDialogClass{
  background-color: #141617;
  position:relative;
  overflow: auto;
  border-radius: 5px;
  max-width: 80vw !important;

}


.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color:transparent!important;
  width: 100%!important;
}


mat-dialog-content{
  max-height: 93%!important;
  padding: 0!important;
}

.mat-mdc-dialog-container .mdc-dialog__content{
  overflow-x: hidden;
}



@media screen and (max-width: 575px) {
  .myDialogClass {
    max-width: 100vw !important;
  }
  // .mat-mdc-dialog-container .mdc-dialog__content{
  //   overflow: hidden;
  // }
}







/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .scroller {
    scrollbar-width: thin;
    scrollbar-color: #c81956 #969696;
  }

  /* Chrome, Edge, and Safari */
  .scroller::-webkit-scrollbar {
    width: 6px;
  }

  .scroller::-webkit-scrollbar-track {
    background: #969696;
  }

  .scroller::-webkit-scrollbar-thumb {
    background-color: #c81956;
    border-radius: 10px;
    border: 0px dotted #130b0b;
  }